@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
  box-sizing:border-box;
  font-family:'Poppins', sans-serif;
}
body{
  margin:0;
  padding:0;
  font-size:13px;
}
section{
  padding:100px;
}
.main-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 10px;
}


.header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  transition: 0.2s ease-in all;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
  z-index: 9999;
  border-bottom:1px solid #000;
}


.header .header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navbar {
  padding: 20px 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.brand a {
  color: #000;
  font-size: 15px;
  text-transform:uppercase;
  font-weight: 600;
  text-decoration:none;
}
.brand{
    height: 70px;
    width: 120px;
}
.brand img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    margin-left: 100px;
}
#navbar > .nav-item {
  margin: 0 10px;
}

#navbar a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  position: relative;
  padding-right: 100px;
}

#navbar a::after {
  content: "";
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  background: transparent;
  margin: 6px auto 0;
  left: 50%;
  transform: translate(-50%, 0%);
  border-radius: 50%;
  transition: 0.1s ease-out all;
}

#navbar a.active::after {
  background: #4f4f4f;
}

#navbar .nav-item .nav-icon {
  background-color: #ffffff;
  margin-left: 5px;
  width: 25px;
  height: 25px;
  display: inline-flex;
  border: 1px solid #ffffff;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
}

#navbar .nav-item .nav-icon a {
  color: #000;
  transition: 0.2s all ease-in;
}

#navbar .nav-item .nav-icon:hover a {
  color: #000;
}



@media (max-width:900px){
  section{
    padding:100px 30px;
  }
}