@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100&display=swap");
@import url("https://fonts.googleapis.com/css?family=Alex+Brush|Overpass+Mono:200,400,600,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  max-width: 100vw;
}
section {
  padding: 100px;
}
body {
  overflow-x: hidden;
}
.custom-font1 {
  font-family: "Alex Brush", cursive;
  color: #ba2123;
  font-size: 75px;
  line-height: 0;
}
.custom-font2 {
  font-family: "Alex Brush", cursive;
  color: #e8c41a;
  font-size: 75px;
  line-height: 0;
}
#trucazo{
  display: none;
}
@media (max-width: 375px) {
  .custom-font1,
  .custom-font2 {
    font-size: 50px;
  }
  .titulo__about h2,
  .titulo__politicas h2,
  .titulo__productos h2,
  .titulo__contacto h2 {
    font-size: 25px !important;
  }
}
/*----------Cookies-----------*/
.cookies-box{
  background:#fff;
  position:fixed;
  bottom:0;
  width:70%;
  display:flex;
  justify-content:center;
  z-index:10000;
  border:1px solid gray;
  margin: auto;
  left: 0;
  right: 0;
}
.cookies-box .container-cookies{
  padding:20px 0;
  max-width:90%;
  display:flex;
  align-items:center;
}
.cookies-box .container-cookies .parrafo p{
  color:#000;
}
.enlace{
  color:#0000ff;
}
.cookies-box .container-cookies .botones{
  display:flex;
  flex-direction:column;
  margin-left:10px;
}
.cookies-box .container-cookies .botones button{
  background:transparent;
  color:#000;
  border:1px solid #000;
  padding:5px 10px;
  cursor:pointer;
  border-radius:16px;
  -webkit-border-radius:16px;
  -moz-border-radius:16px;
  -ms-border-radius:16px;
  -o-border-raiuds:16px;
  /*transition: all 200ms ease in;
  -webkit-transition: all 200ms ease in;
  -moz-transition: all 200ms ease in;
  -ms-transition: all 200ms ease in;
  -o-transition: all 200ms ease in;
*/
}
.cookies-box .container-cookies .botones button:hover{
  color:#119;
  background:#fff;
}
.cookies-box .container-cookies .botones button:last-child{
  margin-top:5px;
}

/*----------LogoMenu----------*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 90px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.35s;
  background: transparent;
}
header.sticky {
  padding: 20px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  background: #fff;
}
.marca-guanajuato {
  height: 130px;
  width: 100px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  /* top: 0px; */
}
header .logo {
  height: 70px;
  width: 120px;
}
header .logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

header ul {
  position: relative;
  display: flex;
}
header ul li {
  position: relative;
  list-style: none;
}
header ul li a {
  padding: 5px 10px;
  position: relative;
  display: inline-block;
  margin: 0 15px;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  transition: 0.5s;
  border: none;
}
header ul li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background: #ba2123;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: 0.25s linear;
}
header ul li a:hover:before,
header ul li a:focus:before {
  visibility: visible;
  transform: scaleX(0.8);
}
.carro {
  padding: 0px 10px;
  margin-top: -5px;
  filter: invert(1);
  margin-right: 10px;
  transition: 0.5s;
}
.carro:hover {
  background: #e8c41a;
}
.carro2 {
  border: 1px solid black;
  border-radius: 999px;
  padding: 6px 0px;
  width: 50px;
  margin: auto;
  cursor: pointer;
  transition: 0.5s;
}
.carro2:hover {
  background: #e8c41a;
}
.idioma {
  margin-top: -3px;
}
.social__menu {
  padding: 0px 20px;
  filter: invert(1);
}
.social__menu a {
  text-decoration: none;
}
.social-item:hover {
  transform: scale(1.2);
}
header ul li a:hover {
  color: gray;
}
header.sticky ul li a {
  color: #111;
}
header.sticky .logo {
  color: #fff;
}
header.sticky .carro,
header.sticky .social__menu {
  filter: invert(0);
}
@media (max-width: 1240px) {
  header,
  header.sticky {
    padding: 20px 50px;
    z-index: 1000;
  }
  .carro,
  .social__menu {
    filter: invert(0);
  }
  /* header .marca-guanajuato {
    position: absolute;
    left: 0;
    margin: auto;
    height: 80px;
    width: 60px;
    right: 0;
  } */
  .menu {
    position: fixed;
    top: 110px;
    left: -100%;
    display: block;
    padding: 50px 10px;
    text-align: center;
    width: 100%;
    height: 100vh;
    background: #fff;
    transition: 0.5s;
    z-index: 999;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    overflow-y: scroll;
  }
  .menu.active {
    left: 0;
  }
  header ul li a {
    color: #111;
    font-size: 24px;
    margin: 10px;
  }
  header.sticky .toggle {
    filter: invert(0);
  }
  .toggle {
    width: 40px;
    height: 40px;
    background: url(menu.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;
    transition: 0.1s;
    filter: invert(1);
  }
  .toggle.active {
    background: url(cancelar.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    cursor: pointer;
  }
  section {
    padding: 100px 50px;
  }
}
@media (max-width: 600px) {
  header,
  header.sticky {
    padding: 20px 20px;
  }
}
/* Ventana Modal */
/* The Modal (background) */
.carro {
  filter: invert(0);
  margin-right: 10px;
  border-radius: 8px;
  background: white;
  border: none;
  outline: none;
  cursor: pointer;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10000; /* Sit on top */
  left: 0;
  bottom: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 80%; /* Could be more or less, depending on screen size */
}
.modal-content a {
  display: flex;
  justify-content: center;
}
.modal-content a img {
  width: 180px;
  margin: auto;
}
.modal-content h3 {
  text-align: center;
  padding: 30px;
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* Carousel */
.swiper-container {
  width: 100%;
  height: 80vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.swiper-slide .swiper-content {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  justify-content: center;
  margin: auto;
}
@media (max-width: 750px) {
  .swiper-slide {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .swiper-slide .swiper-content .end,
  .swiper-slide .swiper-content .green {
    text-align: start !important;
  }
  .swiper-slide .swiper-content {
    order: 1;
    width: 100%;
  }
  .swiper-slide .swiper-content h3,
  .swiper-slide .swiper-content p,
  .swiper-slide .swiper-content .green {
    width: 80%;
    margin: 0 auto;
  }
  .swiper-slide .swiper-content h3 {
    padding-bottom: 14px;
  }
}
.swiper-slide .swiper-content h3,
.swiper-slide .swiper-content .green {
  color: white;
  background: #000a;
  padding: 10px;
}
.swiper-slide .swiper-content .green {
  text-align: end;
  font-size: 20px;
}
.swiper-slide .swiper-content .end {
  text-align: end;
}
.swiper-slide .swiper-content .start {
  text-align: start;
}
.swiper-slide .swiper-content p {
  color: white;
  font-weight: 100;
  background: #000a;
  padding: 10px;
}

#car-1 {
  background-image: url(../Images/Banner/Carrusel_1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#car-2 {
  background-image: url(../Images/Banner/Carrusel_2.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#car-3 {
  background-image: url(../Images/Banner/Carrusel_3.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#car-4 {
  background-image: url(../Images/Banner/Carrusel_4.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#car-5 {
  background-image: url(../Images/Banner/Carrusel_5.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#car-6 {
  background-image: url(../Images/Banner/Carrusel_6.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.carrusel__btn {
  color: black;
  text-decoration: none;
  cursor: pointer;
  background: white;
  padding: 0px 5px;
  border-radius: 5px;
  font-weight: 400;
}
.swiper-slide-active .green {
  -webkit-animation: fadeInLeft 1.5s;
  animation: fadeInLeft 1.5s;
}
.swiper-slide-active .cp1 {
  -webkit-animation: fadeInLeft 1.5s;
  animation: fadeInLeft 1.5s;
}
.swiper-slide-active .ct2 {
  -webkit-animation: fadeInRight 1.5s;
  animation: fadeInRight 1.5s;
}
.swiper-slide-active .cp2 {
  -webkit-animation: fadeInRight 1.5s;
  animation: fadeInRight 1.5s;
}
.swiper-slide-active .ct3 {
  -webkit-animation: fadeInLeft 1.5s;
  animation: fadeInLeft 1.5s;
}
.swiper-slide-active .cp3 {
  -webkit-animation: fadeInLeft 1.5s;
  animation: fadeInLeft 1.5s;
}
/* Acerca de */
.about {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  background: white;
  flex-direction: column;
  background-image: url("../Images/About/World_Map.svg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position-y: center;
}

.about .titulo__about {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}
.titulo__about h2 {
  font-size: 40px;
}
/* .about .titulo__about h2 {
  font-size: 40px;
  font-weight: 200;
  font-style: italic;
}
.about .titulo__about h2::after {
  content: "";
  display: block;
  width: 64px;
  height: 0.18rem;
  margin: 12px auto;
  top: 36.8rem;
  background: #c0171855;
} */
.descripcion__about p {
  font-size: 16px;
  color: #7a7a7a;
  letter-spacing: 1px;
}

.animacion__about {
  display: flex;
  align-items: center;
  padding: 50px;
  margin: 0;
  justify-content: center;
  flex-wrap: wrap;
}
.animacion__about .descripcion__about {
  width: 40%;
  margin: 0 auto;
  text-align: justify;
}
.animacion__about .imagen__about {
  width: 40%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 30vh;
  opacity: 1;
}

.animacion__about .imagen__about img {
  width: 100%;
  margin: auto;
  height: 100%;
  object-fit: contain;
}
@media (max-width: 991px) {
  .animacion__about {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  .animacion__about .descripcion__about {
    width: 100%;
    text-align: justify;
    display: flex;
    align-items: center;
    padding-bottom: 50px;
  }
  .animacion__about .imagen__about {
    width: 100%;
  }
  #two {
    order: 1;
  }
}

/* Productos */
.productos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;
  /* background-color: #efefef;

  background-repeat: no-repeat; */
  background-color: #efefef;

  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23888888' fill-opacity='.1' points='120 0 120 60 90 30 60 0 0 0 0 0 60 60 0 120 60 120 90 90 120 60 120 0'/%3E%3C/svg%3E"); */
}
.productos .titulo__productos {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
}
.titulo__productos h2 {
  font-size: 40px;
}
summary {
  cursor: pointer;
}
details {
  margin-top: 10px;
  margin-bottom: 10px;
}
details p {
  text-align: start;
  padding-top: 10px;
  color: #7a7a7a;
}
.subtitulo {
  text-align: center;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
  color: #7c6a10;
  font-size: 25px;
}
.margen {
  margin-top: 50px;
}
.subtitulo img {
  max-width: 200px;
}
/* .subtitulo__productos {
  width: 100%;
  text-align: center;
  padding: 25px;

  font-size: 25px;
  line-height: 0;
}
.subtitulo__productos h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  height: 100%;
} */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.card {
  display: flex;
  flex-direction: column;
  max-width: 230px;
  margin: auto;
  background: #fff;
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .productos {
    padding-left: 0;
    padding-right: 0;
  }
}
.card .img__card img {
  width: 100%;
  object-fit: contain;
  height: 100%;
}
.card .img__card {
  height: 230px;
  width: 230px;
  transition: 0.7s;
}
.card .content__card {
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.content__card a {
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  cursor: pointer;
  margin-top: 5px;
  border-radius: 10px;
  background: #e8c41a;
  transition: 0.5s;
}
.content__card a:hover {
  background: #ba2123;
}
@media (min-width: 590px) {
  .content__card h3 {
    height: 70px;
    display: flex;
    /* align-items: center; */
  }
}
.aguacate__artesanal {
  background: url(../Images/Productos/Aguacate/AGUACATE_Artesanal.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.aguacate__artesanal:hover {
  background: url(../Images/Productos/Aguacate/AGUACATE_Artesanal_Back.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.natural__artesanal {
  background: url(../Images/Productos/Natural/NATURAL_Artesanal.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.natural__artesanal:hover {
  background: url(../Images/Productos/Natural/NATURAL_Artesanal_Back.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.nopal__artesanal {
  background: url(../Images/Productos/Nopal/NOPAL_Artesanal.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.nopal__artesanal:hover {
  background: url(../Images/Productos/Nopal/NOPAL_Artesanal_Back.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.tomate__artesanal {
  background: url(../Images/Productos/Tomate/TOMATE_Artesanal.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.tomate__artesanal:hover {
  background: url(../Images/Productos/Tomate/TOMATE_Artesanal_Back.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
/* .title__card1 {
  color: #c36f2f;
}
.title__card2 {
  color: #58c132;
}
.title__card3 {
  color: #0c452f;
}
.title__card4 {
  color: #ba2123;
} */

.btn-whatsapp {
  display: block;
  width: 70px;
  height: 70px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  line-height: 80px;
  text-align: center;
  z-index: 999;
}

/* Politicas de calidad */
.politicas {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}
.titulo__politicas {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: center;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
}
.titulo__politicas h2 {
  font-size: 40px;
}
.descripcion__politicas {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: auto;
}

.texto p {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: auto;
  text-align: center;
  color: #7a7a7a;
  letter-spacing: 1px;
}
.links {
  width: 50%;
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
}
.link {
  width: 150px;
  height: 150px;
}
.link img {
  width: 100%;
  height: 100%;
  margin: auto;
}
@media (max-width: 991px) {
  .texto,
  .links {
    width: 100%;
  }
}
.catalogo {
  padding: 15px 30px;
  margin: 20px auto;
  background: white;
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
}
.catalogo:hover {
  color: white;
  background: #e8c41a;
}
.catalogo a {
  text-decoration: none;
  color: black;
  transition: 0.5s;
  background: transparent;
}
/* Valores */
.valores {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.imagen__valores {
  width: 40%;
}
.imagen__valores img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: sepia(1);
}
.informacion__valores {
  width: 60%;
  background: #151515;
  color: white;
  padding-top: 0;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.informacion__valores .contenido__valores h3 {
  padding: 50px 0;
}
.informacion__valores .contenido__valores p {
  text-indent: 70px;
  text-align: justify;
}
@media (min-width: 1000px) {
  .contenido__valores {
    width: 80%;
  }
}
@media (max-width: 640px) {
  .informacion__valores {
    width: 100%;
  }
  .imagen__valores {
    width: 100%;
    height: 50vh;
  }
}
/* Distribucion */
.distribucion {
  background: url(../Images/Distribucion/distribucion.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  display: flex;
  flex-wrap: wrap;
}
.btn__distribucion {
  background: #ba2123;
  padding: 12px 30px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.btn__distribucion a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
@media (max-width: 1050px) {
  .btn__distribucion {
    margin: 10px 0;
  }
}
/* Contacto */
.contacto {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contacto .titulo__contacto {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  margin-bottom: 100px;
}
/* .contacto .titulo__contacto h2::after {
  content: "";
  display: block;
  width: 64px;
  height: 0.18rem;
  margin: 12px auto;
  top: 36.8rem;
  background: lightgray;
} */
.contacto .titulo__contacto h2 {
  font-size: 40px;
}
.contactInfo {
  min-width: 50%;
}
.contactInfoBx {
  position: relative;
}
.contactInfoBx .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}
.btn {
  border: 1px solid green;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.btn a {
  text-decoration: none;
  color: green;
}
.btn:hover {
  background: #ddd;
}
.pr-5 {
  padding-right: 5px;
}
.redes {
  text-decoration: none;
  color: black;
}
.redes:hover {
  text-decoration: underline;
}
.bold {
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: bold;
}
.contactInfoBx .box .icon {
  min-width: 40px;
  padding-top: 4px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 24px;
}
.contactInfoBx .box .text {
  direction: flex;
  margin-left: 20px;
  font-size: 16px;
  flex-direction: column;
  font-weight: 400;
}
.text a {
  text-decoration: none;
  color: black;
}
.text a:hover {
  text-decoration: underline;
}
.contactInfoBx .box .text h3 {
  font-weight: 500;
  color: #ba2123;
  margin-bottom: 0;
}
.mapa {
  min-width: 50%;
}
.mapa iframe {
  width: 100%;
  margin: auto;
}
@media (max-width: 628px) {
  .contacto {
    justify-content: center;
  }
  .mapa {
    margin-top: 50px;
    width: 100%;
    margin-bottom: 0;
  }
}
iframe {
  display: none;
}
.map {
  display: block;
}
/*----------Footer----------*/
.footer {
  display: flex;
  padding-top: 00px;
  padding-bottom: 50px;
  background: #151515;
  justify-content: center;
  flex-direction: column;
}
.footer .logo__footer {
  height: 130px;
  width: 100%;
}
.footer .navegacion__footer {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.footer .navegacion__footer ul {
  list-style: none;
}
.footer .navegacion__footer ul li a {
  text-decoration: none;
  color: white;
  text-align: center;
}
.footer .navegacion__footer ul li a:hover {
  text-decoration: underline;
}
.footer .redes__footer {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}
.footer .redes__footer .titulo__footer,
.footer .navegacion__footer .titulo__footer {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 5px;
  font-weight: 900;
  color: #c36f2f;
}
.footer .redes__footer ul {
  list-style: none;
  display: flex;
}
@media (max-width: 340px){
  .footer .redes__footer ul{
    flex-direction: column;
    text-align: center;
  }
}
.footer .redes__footer ul li {
  margin: 5px;
}
.footer .redes__footer ul li a {
  width: 70%;
  text-decoration: none;
  color: white;
}
.footer .redes__footer ul li a:hover {
  text-decoration: underline;
}
.footer .autor__footer {
  padding-top: 20px;
  color: white;
  text-align: center;
}
.footer .autor__footer a {
  color: white;
}
/* Formulario */
.formulario {
  padding-bottom: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.formulario h3 {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
  padding-top: 50px;
  /* padding-top: 50px; */
  font-size: 40px;
  font-weight: 100;
  font-style: italic;
}
.formBx {
  max-width: 600px;
  margin: auto;
  border-radius: 10px;
}
.formBx form {
  display: flex;
  flex-direction: column;
}
.formBx form input,
.formBx form textarea {
  margin: 20px;
  padding: 15px;
  font-size: 16px;
  background: #fff;
  border: none;
  outline: none;
  color: #000;
  resize: none;
  border-radius: 10px;
  border: 1px solid #000;
}

.formBx form textarea {
  min-height: 200px;
}
.formBx form input::placeholder,
.formBx form textarea::placeholder {
  /* color: #ba2123; */
  color: black;
}
.formBx form input[type="submit"] {
  max-width: 100px;
  /* color: #ba2123; */
  color: black;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  /* box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.1),
    2px 2px 6px rgba(0, 0, 0, 0.8); */
}
.formBx form input[type="submit"]:active {
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1),
    inset 2px 2px 6px rgba(0, 0, 0, 0.8);
}
/* Animaciones */

[data-scroll] {
  transition: all 0.5s;
}
[data-scroll="in"] {
  opacity: 1;
  transform: translateX(0);
}
[data-scroll="out"] {
  opacity: 0;
  transform: translateX(-200px);
}
